
.w100
  width 100%

.w50
  width 50%

.h100
  height 100%

.h50
  height 50%

/* 颜色定义 */
.bcfff
  background #fff

.fcaaa
  color #aaa

.fcbbb
  color #bbb

.fcddd
  color #ddd

.fc000
  color #000

.fc333
  color #333

.fc666
  color #666

.fc999
  color #999

.fcfff
  color #fff

/* 字体定义 */
.fs0
  font-size 0

.fs20
  font-size 0.2rem

.fs22
  font-size 0.22rem

.fs24
  font-size 0.24rem

.fs26
  font-size 0.26rem

.fs28
  font-size 0.28rem

.fs30
  font-size 0.3rem

.fs32
  font-size 0.32rem

.fs34
  font-size 0.34rem

.fw100
  font-weight 100

.fw200
  font-weight 200

.fw300
  font-weight 300

.fw400
  font-weight 400

.fw500
  font-weight 500

.fw600
  font-weight 600

.fwb
  font-weight bold

/* 透明度 */
.op0
  opacity 0

.op1
  opacity 0.1

.op2
  opacity 0.2

.op3
  opacity 0.3

.op4
  opacity 0.4

.op5
  opacity 0.5

.op6
  opacity 0.6

.op7
  opacity 0.7

.op8
  opacity 0.8

.op9
  opacity 0.9

.op10
  opacity 1

/* flex 布局 */
.dfc
  display flex
  flex-direction column

.dfr
  display flex
  flex-direction row

.flex-center
  align-items center
  justify-content center

.flex1
  flex 1

.flex-wrap
  flex-wrap wrap

// 主轴对齐方式
.main-start
  justify-content flex-start

.main-center
  justify-content center

.main-end
  justify-content flex-end

.main-between
  justify-content space-between

.main-around
  justify-content space-around

// ie不支持 edge12-15不支持
.main-evenly
  justify-content space-evenly

// 交叉轴对齐方式
.cross-start
  align-items flex-start

.cross-center
  align-items center

.cross-end
  align-items flex-end

.cross-baseline
  align-items baseline

.cross-stretch
  align-items stretch

.flex-order1
  order 1

.flex-order2
  order 2

.flex-order3
  order 3

.flex-order4
  order 4

.flex-order5
  order 5

.flex-order6
  order 6

.flex-order7
  order 7

.flex-order8
  order 8

.flex-order9
  order 9

.flex-order10
  order 10

.pointer
  cursor pointer

/* 定位 */
.por
  position relative

.poa
  position absolute

.pof
  position fixed

.fb
  font-weight bold

.text-center
  text-align center

.text-left
  text-align left

.text-right
  text-align right

.d-block
  display block
